*{
  box-sizing:border-box;
}

.mr{
  margin-right: 6rem !important;
}
.ml{
  margin-left: 6rem !important;
}


.btn{
  border:6px; color:white; background:black;
}

.btn-hover{
  background:black;
  color:white;
}

.btn-hover:hover,
.btn-hover:active{
  background:white; color:black;
  transition: all 250ms ease-out;
  border:solid 1px black; 
}

.bg-black{
  background-color:black;
}
.bg-white{
  background-color:white;
}

.vw-30{
  width:30%;
}
.vw-60{
  width:60%;
}
.vw-90{
  width:90%;
}

.top-35{
  top:35%;
}

.w-5{
  width:5%;
}
.w-10{
  width:10%;
}
.w-15{
  width:15%;
}
.w-30{
  width:30%;
}
.w-40{
  width:40%;
}
.w-90{
  width:90%;
}

.min-vh-80{
  min-height:80vh;
}

.round-border{
  border:solid 0.5px rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  border-right:solid 1px white;
}